@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

header{
    width: auto;
    height: 100px;
    background-color: #F8A248;
    display: flex;
    justify-content: center;
    align-items: center
}

body{
    color: #222;
    font-weight: 400;
    background-color: #fff;
    font-family: Kanit, sans-serif;
}

hr{
    border-top: 2px solid #2b2b2b;
    width: 100%;

}

h2{
    text-decoration: underline;
    text-transform: uppercase;
}

/* navigation menu */

nav {
    width: auto;
    height: 100px;
    background-color: #4dc55d;
    display: flex;
    justify-content: center;
    align-items: center
}

#menu{
    font-size: 130%;
    letter-spacing: 3px;

}

#menu li{
    float: right;
    list-style-type: none;
    margin: 10px 80px;
}

#menu a{
    text-decoration: none;
    color: #2b2b2b;
    font-weight: 550;
}

#menu a:hover{
    border-bottom: 2px solid #2b2b2b;
    font-weight: 800;
}

.active{
    border-bottom: 2px solid #2b2b2b;
}

/* header text */

header a{
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #2b2b2b;
    margin: 20px;
}


/* about us section */

.outer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: auto;
    margin-bottom: 60px;
}

.inner-div {
    margin: 20px;
    width: 80%;
}

.inner-div h2{
    margin: 20px;
    font-size: 200%;
}

.inner-div p{
    font-size: 130%;
}

#main-image{
    height: 500px;
    width: 70%;
    border-radius: 1%;
    background: no-repeat center center;
}

/* mission */

#mission{
    width: 100%;
    height: auto;
    margin-top: 80px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#mission-heading{
    font-size: 150%;
    text-align: center;
    background-color: #F8A248;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center
}

#mission-inner{
    width: 100%;
    height: 400px;
    background-color: #4dc55d;
    display: flex;
}

#left-one{
    float: left;
    width: 30%;
    height: auto;
    padding: 20px;
    align-items: center;
}

#center-one{
    width: 30%;
    height: auto;
    padding: 20px;
    align-items: center;
}

#right-one{
    float: right;
    width: 30%;
    height: auto;
    padding: 20px;
    align-items: center;
}

.inner{
    align-items: center;
    text-align: center;
}

/* mission images */

#left-image{
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10%;
}

#center-image{
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10%;
}

#right-image{
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10%;
}

/* meetup times*/

#meetups{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#meetups div{
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 50px;
}

/* footer */

footer{
    color: #222;
    font-weight: 400;
    background-color: #F8A248;
    font-family: Kanit, sans-serif;
    height: 260px;
}

footer h2{
    text-align: center;
    padding: 30px;
}

.social-networks{
    text-align: center;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 180%;
    margin: 5%;
    color: #222;
}

/* gallery*/

#images{
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#images > img{
    width: 100%;
}

/* get involved */

#section-form{
    clear: left;
    background: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
}

#signup{
    font-size: 130%;
    margin: 100px 10% 0 0;
    color: #fff;
    background-color: #2b2b2b;
    max-width: 500px;
    position: absolute;
    left: 30%;
    padding: 25px;
    height: 500px;
    opacity: 0.8;
    border-radius: 5%;
}

#signup h2{
    text-align: center;
    margin-bottom: 20px;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    color: #fafafa;
    width: 80%;
    height: 20px;
    margin: 5px 0 20px 0;
    border: 2px solid #fff;
    border-radius: 2%;
}

.details:hover{
    border: #4dc55d solid 2px;
}


.get-involved {
    margin-top: 20px;
    border-radius: 3%;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #4dc55d;
    color: #fff;
    display: block;
}

.get-involved:hover{
    background-color: #F8A248;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */

@media screen and (max-width: 1200px){
    
}