@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    color: #222;
    font-weight: 300;
    background-color: #fff;
    font-family: Kanit, sans-serif;
}

hr{
    border-top: 2px solid #2b2b2b;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* navigation menu */

nav {
    display: flex;
    justify-content: center;
    align-items: center
}

#menu{
    font-size: 130%;
    letter-spacing: 3px;
}

#menu li{
    float: right;
    list-style-type: none;
    margin: 10px 80px;
}

#menu a{
    text-decoration: none;
    color: #2b2b2b;
    font-weight: 550;
}

#menu a:hover{
    border-bottom: 2px solid #2b2b2b;
    font-weight: 800;
}

.active{
    border-bottom: 2px solid #2b2b2b;
}

/* header text */

header a{
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #2b2b2b;
    margin: 20px;
}

header div{
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #2b2b2b;
}

/* about us section */

.outer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 250px;
    margin-bottom: 60px;
}

.inner-div {
    margin: 20px;
    width: 60%;
}

.inner-div h2{
    margin: 20px;
}

.inner-div p{
    font-size: 130%;
}


/* mission */

#mission{
    width: 100%;
    height: auto;
    margin-top: 50px;
}